services:
  api:
    build: .
    image: francescoxx/netflix-backend:1.0
    container_name: netflix-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - PORT=8080